# Default ignored files
/../../PROJECT_DESCRIPTION.md./.idea/shelf/
/../../PROJECT_DESCRIPTION.md./.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../PROJECT_DESCRIPTION.md./.idea/mavenHomeManager.xml
