# Default ignored files
/../../qa-login-no-maven./.idea/shelf/
/../../qa-login-no-maven./.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../qa-login-no-maven./.idea/mavenHomeManager.xml
